%h5.box-title.text-center.pb-3
  = titleheading

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  
  .form-group
    = f.label :firstname, (t 'yourname')
    .row
      .col
        = f.text_field :firstname, class: 'form-control', placeholder: (t 'firstname')
      .col
        = f.text_field :lastname, class: 'form-control', placeholder: (t 'lastname')
  
  .form-group
    = f.label :email, (t 'youremail')
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  
  .form-group
    = f.label :password, passwordcaption, 'data-toggle' => "tooltip"
    %span.fa.fa-question-circle{"data-toggle"=>"tooltip", "data-placement"=>"right", :title=>tooltip}
    .input-group
      = f.password_field :password, autocomplete: "new-password", class: "form-control", id: 'pwd'
      .input-group-append
        %span.input-group-text
          %i.fa.fa-eye{:onclick => "togglepwdeye();"}

  .form-group.text-center
    = f.button buttoncaption, class: 'btn btn-success', data: {disable_with: debouncecaption}
  
