= form_for @listing do |f|
  - if @listing.errors.any?
    #error_explanation
      %h5
        = pluralize(@listing.errors.count, (t 'error'), locale: I18n.locale) + " " + t('prohibitedlisting', count: @listing.errors.count)
      %ul
        - @listing.errors.full_messages.each do |message|
          %li= message


  .card.card-body


      
    
    .row.mb-5
      .col-4.col-form-label
        =t 'selecttype'
      .col-8
        .btn-group.d-flex.btn-group-toggle.w-100{"data-toggle" => "buttons"}
          %label.btn.btn-block.btn-outline-primary.w-100.active
            = f.radio_button :type, 'Sell', checked: "checked"
            =t 'offering'
          %label.btn.btn-outline-orange.w-100
            = f.radio_button :type, 'Buy'
            =t 'seeking'

    
    .form-group
      = f.label :title, (t 'title')
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :description, (t 'description')
      = f.text_area :description, placeholder: (t 'descriptiontips'), class: 'form-control'

    -#Leave this out for now. Only add it once we expand outside of GDL.
    -#.form-group
    -#  .row
    -#    .col
    -#      = f.label :city, (t 'city')
    -#      = f.text_field :city, class: 'form-control'
    -#    .col
    -#      = f.label :state, (t 'stateprovince')
    -#      = f.select :state, '---', {}, class: 'form-control'
    -#    .col  
    -#      = f.label :country, (t 'country')
    -#      = f.select :country, GENERALCFG['countrydata'].map{|x| x['name']}, {}, {class: 'form-control', selected: "Mexico", onChange: "populateregions();"}
  

    .form-group
      = f.label :image, (t 'uploadphoto')
      = f.file_field :image, class: 'form-control-file'
  
  
    .form-group.text-center
      = f.button buttoncaption, class: 'btn btn-success', data: {disable_with: debouncecaption}


#countrydata{data: GENERALCFG['countrydata'].to_json.html_safe}