= content_for :title, (t 'myprofile')

.container-fluid
  .page-wrapper.border-0
    %h5.box-title.text-center.mt-0 

    
    .row
      .col-4.px-1
        .card
          .card-header.bg-blue.py-1
            %h5.card-title.text-center.text-white.mb-0
              =t ('mydata')
            
          .card-body
            UserFirstname
            UserLastname
            %br
            = @user.email
        
            %br
            %br
            %h6.text-muted 
              =t 'mailingaddress'

            Address 1
            %br
            
            Address 2
            %br

            Postcode
            City
            State
            %br
            Country
            %br
            %br

            .text-center.card-link
              = link_to (t 'edit'), edituser_path(@user)


      .col-8.px-1
        .card.h-100
          .card-header.bg-blue.py-1
            %h5.card-title.text-center.text-white.mb-0
              = t 'mystats'
            
          .card-body
            todavia no tienes ningun anuncio
            %br

            .text-center.mt-5
              = link_to "<i class = \"fa fa-plus-circle mr-2\"></i>#{t 'postad'}".html_safe, new_listing_path, class: 'btn btn-green'

    .row.mt-3
      .col-12.px-0
        .card
          .card-header.bg-blue.py-1
            %h5.card-title.text-center.text-white.mb-0
              =t 'mylistings'
          .card-body
            = render 'layouts/listingnavtabs'