.container-fluid
  .form-wrapper.pb-2
    %h5.box-title.text-center.pb-3
      =t 'resetpassword'
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, (t 'enternewpassword')
        .input-group
          = f.password_field :password, class: 'form-control', id: 'pwd'
          .input-group-append
            %span.input-group-text
              %i.fa.fa-eye

        
      .form-group.text-center
        = f.button (t 'updatepassword'), class: 'btn btn-success'
