.form-wrapper.w-100.pb-2.mb-5
  %h5.box-title.text-center.pb-3  
    =t 'login'
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  
    .form-group
      = f.label :email, (t 'youremail')
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .form-group
      = f.label :password, (t 'password')
      .input-group
        = f.password_field :password, autocomplete: "current-password", class: "form-control", id: "pwd"
        .input-group-append
          %span.input-group-text
            %i.fa.fa-eye{:onclick => "togglepwdeye();"}
      
      .small
        = link_to (t 'forgotpassword'), new_password_path(resource_name)
    
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me

    .form-group.text-center
      = f.button buttoncaption, class: 'btn btn-success'
    
    
  = render "devise/shared/links"
  
